[Unit]
Description=Switches Bluetooth on/off based on if HDMI is plugged in

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/bt-toggle

[Install]
WantedBy=multi-user.target
